@model PharmaceuticalWarehouseManagementSystem.ENTITY.Entity.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryDescription" class="control-label"></label>
                <input asp-for="CategoryDescription" class="form-control" />
                <span asp-validation-for="CategoryDescription" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteDate" class="control-label"></label>
                <input asp-for="DeleteDate" class="form-control" />
                <span asp-validation-for="DeleteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedIP" class="control-label"></label>
                <input asp-for="CreatedIP" class="form-control" />
                <span asp-validation-for="CreatedIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedComputerName" class="control-label"></label>
                <input asp-for="CreatedComputerName" class="form-control" />
                <span asp-validation-for="CreatedComputerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedIP" class="control-label"></label>
                <input asp-for="ModifiedIP" class="form-control" />
                <span asp-validation-for="ModifiedIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedComputerName" class="control-label"></label>
                <input asp-for="ModifiedComputerName" class="form-control" />
                <span asp-validation-for="ModifiedComputerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemovedIP" class="control-label"></label>
                <input asp-for="RemovedIP" class="form-control" />
                <span asp-validation-for="RemovedIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemovedComputerName" class="control-label"></label>
                <input asp-for="RemovedComputerName" class="form-control" />
                <span asp-validation-for="RemovedComputerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

