
@{
    ViewData["Title"] = "UserHomePage";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>UserHomePage</h1>

<div class="container">
    <div class="row">
        <div class="card-header">
            <h2 class="card-title">Pharmaceutical Warehouse Management System</h2>
        </div>

        <div class="card-body">
            <h5 class="card-title">Yama Notları</h5>

            <p class="card-text">
                Kapalı beta sürümüne hoşgeldiniz.
            </p>

        </div>
        
        <div class="card-footer">

        </div>
    </div>
</div>
