
@{
    ViewData["Title"] = "AdminHomePage";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>AdminHomePage</h1>


<div class="card-body">
    <h5 class="card-title">Pharmaceutical Warehouse Management System</h5>

    <p class="card-text">
        Kapalı beta sürümüne hoşgeldiniz. 
    </p>

   
</div>